
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/mdb.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <style type="text/css">
        html,
        body,
        header,
        .carousel {
            height: 60vh;
        }

        @media (max-width: 740px) {

            html,
            body,
            header,
            .carousel {
                height: 100vh;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {

            html,
            body,
            header,
            .carousel {
                height: 100vh;
            }
        }

    </style>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="/">
            <img src="{% static 'img/logo.png' %}"     height="61px">
            <strong class="title">Dalal</strong>
        </a>
        <ul class="navbar-nav me-auto ml-5 mb-2 mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link " href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="product.html">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.html">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html">Register</a>
            </li>
        </ul>
        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="mt-5 pt-4">

</div>


<main>
    <div class="row col-md-12 text-center p-4 mt-4">
        <div class="col-md-3">
            <div class="content">
                <img src="{% static 'img/a.jpeg' %}" class="imageContent">
                <p>Nahdi</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <img src="{% static 'img/al.jpeg' %}" class="imageContent">
                <p>Al-dawaa</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <img src="{% static 'img/w.jpeg' %}" class="imageContent">
                <p>Whites</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <img src="{% static 'img/k.jpeg' %}" class="imageContent">
                <p>Kunooz</p>
            </div>
        </div>
    </div>
    <!-- carousel -->
    <div class="container">

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

            <!-- Navbar brand -->
            <span class="navbar-brand">Pharmacies:</span>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">All
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nahdi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Al-dawaa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Whites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kunooz</a>
                    </li>

                </ul>
                <!-- Links -->

                <form class="form-inline">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </div>
                </form>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->

        <!--Section: Products v.3-->
        <section class="text-center mb-4">

            <div class="row wow fadeIn">


                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="card">

                        <div class="view overlay">

                            <img src="{% static 'img/a.jpeg' %}" class="card-img-top">
                            <a href="/product/ref/">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="card-body text-center">
                            <a href="" class="grey-text">
                                <h5>S</h5>
                            </a>
                            <h5>
                                <strong>
                                    <a href="/product/ref/" class="dark-grey-text">dfdfg
                                        <span class="badge badge-pill primary-color">NEW</span>
                                    </a>
                                </strong>
                            </h5>

                            <h4 class="font-weight-bold blue-text">
                                <strong>SAR

                                    444.0

                                </strong>
                            </h4>

                        </div>

                    </div>

                </div>

                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="card">

                        <div class="view overlay">

                            <img src="{% static 'img/a.jpeg' %}" class="card-img-top">
                            <a href="/product/fghj/">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="card-body text-center">
                            <a href="" class="grey-text">
                                <h5>Nahdi</h5>
                            </a>
                            <h5>
                                <strong>
                                    <a href="/product/fghj/" class="dark-grey-text">dalal
                                        <span class="badge badge-pill secondary-color">NEW</span>
                                    </a>
                                </strong>
                            </h5>

                            <h4 class="font-weight-bold blue-text">
                                <strong>SAR

                                    5.0

                                </strong>
                            </h4>

                        </div>

                    </div>

                </div>

            </div>

        </section>
        <!--Section: Products v.3-->

        <!--Pagination-->



    </div>
</main>






<footer class="page-footer text-center font-small mt-4 wow fadeIn">
    <!--Copyright-->
    <div class="footer-copyright py-3">
        <!--      © 2023 Copyright:-->
        <!--      <a href="#" target="_blank">Develop By : Dalal Mohammed</a>-->
    </div>
    <!--/.Copyright-->

</footer>


<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();

</script>
</body>
</html>
