{% extends "main/index.html" %}
{% load static %}

{% block title %} HOME PAGE {% endblock %}

{% block content %}
<main>
    <div class="row col-md-12 text-center p-4 mt-4">
        <div class="col-md-3">
            <div class="content">
                <img src="{% static 'img/a.jpeg' %}" class="imageContent">
                <p>Nahdi</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <img src="{% static 'img/al.jpeg' %}" class="imageContent">
                <p>Al-dawaa</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <img src="{% static 'img/w.jpeg' %}" class="imageContent">
                <p>Whites</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="content">
                <img src="{% static 'img/k.jpeg' %}" class="imageContent">
                <p>Kunooz</p>
            </div>
        </div>
    </div>
    <!-- carousel -->
    <div class="container">

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

            <!-- Navbar brand -->
            <span class="navbar-brand">Pharmacies:</span>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">All
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:Nahdi' %}">Nahdi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:dawaa' %}">Al-dawaa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:whites' %}">Whites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:kunooz' %}">Kunooz</a>
                    </li>

                </ul>
                <!-- Links -->

                <form class="form-inline">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </div>
                </form>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->

        <!--Section: Products v.3-->
        <section class="text-center mb-4">

            <div class="row wow fadeIn">


                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="card">

                        <div class="view overlay">

                            <img src="{% static 'img/hhhh.jfif' %}" class="card-img-top">
                            <a href="{% url 'main:product' %}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="card-body text-center">
                            <a href="" class="grey-text">
                                <h5>Nahdi</h5>
                            </a>
                            <h5>
                                <strong>
                                    <a href="{% url 'main:product' %}" class="dark-grey-text">levothyroxine
                                        <span class="badge badge-pill primary-color"></span>
                                    </a>
                                </strong>
                            </h5>

                            <h4 class="font-weight-bold blue-text">
                                <strong>SAR

                                    44.0

                                </strong>
                            </h4>

                        </div>

                    </div>

                </div>

                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="card">

                        <div class="view overlay">

                            <img src="{% static 'img/bbb.jfif' %}" class="card-img-top">
                            <a href="/product/fghj/">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="card-body text-center">
                            <a href="" class="grey-text">
                                <h5>Nahdi</h5>
                            </a>
                            <h5>
                                <strong>
                                    <a href="/product/fghj/" class="dark-grey-text">lisinopril
                                        <span class="badge badge-pill secondary-color"></span>
                                    </a>
                                </strong>
                            </h5>

                            <h4 class="font-weight-bold blue-text">
                                <strong>SAR

                                    105

                                </strong>
                            </h4>

                        </div>

                    </div>

                </div>

                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="card">

                        <div class="view overlay">

                            <img src="{% static 'img/nnn.jfif' %}" class="card-img-top">
                            <a href="/product/ref/">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="card-body text-center">
                            <a href="" class="grey-text">
                                <h5>Nahdi</h5>
                            </a>
                            <h5>
                                <strong>
                                    <a href="/product/ref/" class="dark-grey-text">Panadol Night
                                        <span class="badge badge-pill primary-color"></span>
                                    </a>
                                </strong>
                            </h5>

                            <h4 class="font-weight-bold blue-text">
                                <strong>SAR

                                    50

                                </strong>
                            </h4>

                        </div>

                    </div>

                </div>
 
                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="card">

                        <div class="view overlay">

                            <img src="{% static 'img/thth.jfif' %}" class="card-img-top">
                            <a href="/product/ref/">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="card-body text-center">
                            <a href="" class="grey-text">
                                <h5>Nahdi</h5>
                            </a>
                            <h5>
                                <strong>
                                    <a href="/product/ref/" class="dark-grey-text">Bepanthen
                                        <span class="badge badge-pill primary-color"></span>
                                    </a>
                                </strong>
                            </h5>

                            <h4 class="font-weight-bold blue-text">
                                <strong>SAR

                                    30

                                </strong>
                            </h4>

                        </div>

                    </div>

                </div>

                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="card">

                        <div class="view overlay">

                            <img src="{% static 'img/lll.jfif' %}" class="card-img-top">
                            <a href="/product/ref/">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <div class="card-body text-center">
                            <a href="" class="grey-text">
                                <h5>Al-dawaa</h5>
                            </a>
                            <h5>
                                <strong>
                                    <a href="/product/ref/" class="dark-grey-text">Labello
                                        <span class="badge badge-pill primary-color"></span>
                                    </a>
                                </strong>
                            </h5>

                            <h4 class="font-weight-bold blue-text">
                                <strong>SAR

                                    19

                                </strong>
                            </h4>

                        </div>

                    </div>

                </div>
           
            <div class="col-lg-3 col-md-6 mb-4">

                <div class="card">

                    <div class="view overlay">

                        <img src="{% static 'img/qv.jfif' %}" class="card-img-top">
                        <a href="/product/ref/">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <a href="" class="grey-text">
                            <h5>Al-dawaa</h5>
                        </a>
                        <h5>
                            <strong>
                                <a href="/product/ref/" class="dark-grey-text">Qv
                                    <span class="badge badge-pill primary-color"></span>
                                </a>
                            </strong>
                        </h5>

                        <h4 class="font-weight-bold blue-text">
                            <strong>SAR

                                115

                            </strong>
                        </h4>

                    </div>

                </div>

            </div>
        
        <div class="col-lg-3 col-md-6 mb-4">

            <div class="card">

                <div class="view overlay">

                    <img src="{% static 'img/ggg.jfif' %}" class="card-img-top">
                    <a href="/product/ref/">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body text-center">
                    <a href="" class="grey-text">
                        <h5>Al-dawaa</h5>
                    </a>
                    <h5>
                        <strong>
                            <a href="/product/ref/" class="dark-grey-text">Signal
                                <span class="badge badge-pill primary-color"></span>
                            </a>
                        </strong>
                    </h5>

                    <h4 class="font-weight-bold blue-text">
                        <strong>SAR

                            333

                        </strong>
                    </h4>

                </div>
                
        </div>

            </div>
            <div class="col-lg-3 col-md-6 mb-4">

                <div class="card">

                    <div class="view overlay">

                        <img src="{% static 'img/qv.jfif' %}" class="card-img-top">
                        <a href="/product/ref/">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body text-center">
                        <a href="" class="grey-text">
                            <h5>Al-dawaa</h5>
                        </a>
                        <h5>
                            <strong>
                                <a href="/product/ref/" class="dark-grey-text">Qv
                                    <span class="badge badge-pill primary-color"></span>
                                </a>
                            </strong>
                        </h5>

                        <h4 class="font-weight-bold blue-text">
                            <strong>SAR

                                115

                            </strong>
                        </h4>

                    </div>

                </div>

            </div>

        </div>

        </section>
        <!--Section: Products v.3-->

        <!--Pagination-->



    </div>
</main>


{% endblock %}
